/* https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../assets/Inter-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap&text=%E2%8C%AB%E2%8F%8E */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../assets/Inter-symbols.woff2') format('woff2');
}

body {
  margin: 0 1.5rem;
  background-color: white;
  color: red;
  text-align: center;
}

body, input, button {
  font-family: 'Inter', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  margin: 1rem 0;
}

.logo {
  width: 225px;
  height: 225px;
  margin: 1rem auto 0;
}

.date {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.time {
  font-size: 2rem;
  font-variant-numeric: tabular-nums;
  color: red;
  margin-top: 0;
}

.id-number-input {
  width: 72.5%;
  font-size: 2rem;
  margin: 0 auto 0.75rem;
  padding: 0.5rem;
  caret-color: transparent;
  border-radius: 8px;
  border: 1px solid grey;
}

.id-number-input.shake {
    animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0% { margin-left: 0; }
  25% { margin-left: 1rem; }
  75% { margin-left: -1rem; }
  100% { margin-left: 0; }
}

.id-number-input:focus {
  outline-width: 0;
}

.numpad {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  button {
    flex-basis: 30%;
    margin: 5px;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 8px;
    border: none;
    transition: all 0.2s ease-in;
  }

  button.active {
    background-color: red;
    color: white;
    transition: all 0.1s ease-out;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;
  color: white;
  transition: all 0.25s ease-in;
}

.footer.ok {
  background-color: green;
  transition: all 0.1s ease-out;
}

.footer.error {
  background-color: red;
  animation: blinker 1s linear infinite;
  transition: all 0.1s ease-out;
}

@keyframes blinker {
  50% {
    background-color: #f88;
  }
}

.prompt {
  font-size: 1.5rem;
  margin: 1rem 0;
  white-space: nowrap;
}

.modal {
  position: absolute;
  inset: 30px;
  border: 1px solid rgb(204, 204, 204);
  background: white;
  overflow: auto;
  border-radius: 8px;
  outline: none;
  padding: 20px;
  color: black;
  font-size: 0.9em;

  h2 {
    margin: 0;
  }

  .modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
    transition: none;
  }

  .modal-close-button:active {
    background: none;
    color: black;
    transition: none;
  }

  .today-stats {
    margin: 0 1rem;
  }

  label {
    font-size: 1rem;
  }

  input, button {
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 0.5rem;
    transition: all 0.2s ease-in;
  }

  button:active {
    background-color: red;
    color: white;
    transition: all 0.1s ease-out;
  }

  .modal-row {
    margin-top: 0.75rem;

    div {
      margin: 0.25rem 0;
    }
  }

  .date-input {
    text-align: center;
  }

  .date-range {
    font-size: 1rem;
  }

  #meeting-threshold {
    width: 100px;
    text-align: center;
  }

  input[type="radio"] {
    transform: scale(1.5);
    margin-left: 1rem;
    margin-right: 0.5rem;
  }

  #meeting-threshold::-webkit-outer-spin-button,
  #meeting-threshold::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .meeting-threshold-button {
    width: 50px;
    margin: 0 0.5rem;
  }

  .modal-submit-button {
    margin: 0.25rem;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.focus-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
